In [40]:
import pandas as pd

def read_excel_sheet(file_path, sheet_name=None):
    """
    Reads a specific sheet from an Excel file and returns a DataFrame.
    
    Args:
    file_path (str): Path to the Excel file.
    sheet_name (str or int, optional): Name or index of the sheet to read. If None, reads the first sheet.
    header_row (int, optional): Row number to use as the header (0-indexed). 
                                If None, assumes the first row is the header.
    
    Returns:
    pandas.DataFrame: DataFrame containing the sheet data.
    """
    # If header_row is None, pandas will automatically use the first row as header
    df = pd.read_excel(file_path, sheet_name=sheet_name)

    return df

In [41]:
data = read_excel_sheet('shared_data_read_only/Data/AfriKids/ExternalReports/GES_EMIS/Census Data.xlsx', sheet_name='No_of_Schools_2018_2019')

In [59]:
def get_school_dataset():
    """
    Creates a dataset from the given Excel file containing school information.
    
    Args:
    file_path (str): Path to the Excel file.
    sheet_name (str): Name of the sheet to read (default is 'Sheet1').
    
    Returns:
    pandas.DataFrame: DataFrame containing the school data.
    """
    try:
        # Read the Excel file, skipping the first row (index 0) which contains merged cells
        df = pd.read_excel('shared_data_read_only/Data/AfriKids/ExternalReports/GES_EMIS/Census Data.xlsx', sheet_name='No_of_Schools_2018_2019')
        
    
        return df
    except FileNotFoundError:
        print(f"Error: File not found at {file_path}")
        return None
    except Exception as e:
        print(f"An unexpected error occurred: {str(e)}")
        return None

In [60]:
get_school_dataset()

,Census_Year,Regcode,Region,Dstcode,District,Status,PreSch_TotSchs,Kg_TotSchs,Prm_TotSchs,JHS_TotSchs,SHS_TotSchs,GES_TVET_TotSchs,Oth_TVET_TotSchs
0,2018-2019,1,ASHANTI,11,ADANSI NORTH,Private,32.0,33.0,30.0,18.0,1.0,NaN,NaN
1,2018-2019,1,ASHANTI,11,ADANSI NORTH,Public,5.0,89.0,92.0,80.0,4.0,NaN,NaN
2,2018-2019,1,ASHANTI,12,ADANSI SOUTH,Private,8.0,23.0,21.0,10.0,1.0,NaN,NaN
3,2018-2019,1,ASHANTI,12,ADANSI SOUTH,Public,2.0,104.0,106.0,69.0,2.0,NaN,NaN
4,2018-2019,1,ASHANTI,13,SEKYERE SOUTH,Private,26.0,28.0,28.0,12.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2018-2019,10,WESTERN,224,MPOHOR,Public,NaN,34.0,34.0,28.0,1.0,NaN,NaN
428,2018-2019,10,WESTERN,225,SUAMAN,Private,10.0,11.0,11.0,10.0,NaN,NaN,NaN
429,2018-2019,10,WESTERN,225,SUAMAN,Public,NaN,29.0,29.0,24.0,1.0,NaN,NaN
430,2018-2019,10,WESTERN,226,WASA AMENFI CENTRAL,Private,21.0,51.0,51.0,36.0,NaN,NaN,NaN
431,2018-2019,10,WESTERN,226,WASA AMENFI CENTRAL,Public,NaN,96.0,96.0,59.0,1.0,NaN,1.0